{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-6 footerleft ">
                    <ul>{{ 'Layout.Base.Footer.Left.Pres'|trans }}</ul>
                        <ol><a target="_blank" href="https://getbootstrap.com/">Bootstrap </a></ol>
                        <ol><a target="_blank" href="https://symfony.com/">Symfony</a></ol>
                </div>
                <div class="col-sm-4 col-sm-6 padding-bottom" align="center">
                    <p>{{ 'Layout.Base.Footer.Center1'|trans }}</p>
                    <p>{{ 'Layout.Base.Footer.Center2'|trans }}</p>
                </div>
                <div class="col-sm-4 col-sm-6 paddingtop-bottom" align="right">
                    <p><a href="" > {{ 'Layout.Base.Footer.Right'|trans }}</a> </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}