{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}

    <h2> {{ 'Booking.Identification.Recap'|trans }} </h2>
    <p> {{ dump(reservation) }} </p>

    <ul>
        {% for tickets in reservation %}
            <li><em>Ok</em></li>

        {% else %}
            <li><em>Pas OK</em></li>
        {% endfor %}
    </ul>


{% endblock %}