{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}

    <h2> Recapitulatif </h2>
   <p> {{ email }} </p>
    <p> {{ nbTicket }} </p>
{% endblock %}