{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
<div class="container">
            {% block li %}
            <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Organisation</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Identification</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Paiement</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum">Recapitulatif</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
            </div>
            {%  endblock %}
            {% block form1 %}
                <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="section_org">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-9 col-md-offset-1 col-lg-offset-2 col-lg-10">
                                    <div class="row">
                                {% include 'AppBundle:Booking:form1.html.twig' %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            {% endblock %}
</div>
{% endblock %}

