{# src/AppBundle/Resources/view/Booking/organize.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Organisation de la visite</title>
</head>
<body>
<h1>Formulaire</h1>
<p> choix de  date</p>
</body>
</html>