{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block booking_body %}
        <h1>{{ 'Booking.Organize.Visit'|trans }} </h1>
        <p> {{ 'Booking.Organize.Message.Intro'|trans }}</p>
        <div class="well">
            {{ form(form) }}
        </div>
{% endblock %}


