<<<<<<< HEAD
{# src/AppBundle/Resources/view/Booking/organize.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Organisation de la visite</title>
</head>
<body>
<h1>Formulaire</h1>
<p> choix de  date</p>
</body>
</html>
=======
<!DOCTYPE html>
<html>
    <head>
        <title>{{ 'Booking.Organize.Accueil'|trans }}</title>
    </head>
    <body>
        <h1>{{ 'Booking.Organize.Visit'|trans }} </h1>
        <p> {{ 'Booking.Organize.Message.Intro'|trans }}</p>
    </body>
</html>



>>>>>>> test
