{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        {% block li %}
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                        <ol class="breadcrumb breadcrumb-arrow">
                            <li><a href="#">Organisation</a></li>
                            <li><a href="#">Identification</a></li>
                            <li><a href="#">Paiement</a></li>
                            <li class="active"><span>Organisation</span></li>
                        </ol>
                    </div>
                </div>
        {%  endblock %}
        {% block formulaire %}
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="well">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}

    </div>
</div>
{% endblock %}