<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Layout.Base.Title{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#">Musée du Louvre</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'Layout.Base.Langue'|trans }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"> Fr</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"> En</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div id="content" class="col-md-9">
                    {% block booking_body %}
                    {% endblock %}
                </div>
            </div>
            <hr>
            <footer>
                <p>{{ 'Layout.Base.Footer'|trans }}</p>
            </footer>
        </div>
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>
{# https://symfony.com/doc/3.4/templating/app_variable.html + cours + utilisation du filtre merge : #}
{#http://v4-alpha.getbootstrap.com/components/dropdowns/#}