body
{
    background: #404040 url("../images/Pyramid5.jpg") no-repeat ;
    background-size: cover;
    padding-top: 60px;
    height: 100%
}
/* ----------------------------------Footer ---------------------- */
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    margin-bottom: 50px;
}
#footer ul.quick-links li a{
    color:#000;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .50s all ease;
    -moz-transition: .50s all ease;
    transition: .50s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
/* ----------------------------------Navbar---------------------- */
.navbar
{
    background-color: #404040;
    border-bottom: solid;
    border-color: #404040;
    border-width: 1px;
    color: #fff;
}
.navbar-brand
{
    padding-top:0px;
}
/* ----------------------------------Body---------------------- */
.section_1
{
    margin-top: 220px;
    padding : 50px;
    color: #fff;
    background-color: #404040;
    border-radius: 50px 5px;
}

.panel-primary>.panel-heading
{
    color: #fff;
    background-color: #404040;
    border-color: #404040;
    border-radius: 50px 50px;
}
.panel-primary
{
    margin-top: 30px;
    border-color: #404040;
}
.btn-primary
{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.btn-primary:hover
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.btn-danger
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
    margin-top: 40px;
}
.btn-danger:hover
{
    color: #fff;
    background-color: #960018;
    border-color: #960018;
    margin-top: 40px;
}
.dropdown-menu
{
    background-color: #404040;
    border-color: #252925;
    text-align: center;
    min-width: 50px;
    margin-left: 275px;
}
.alert-danger
{
     color: #fff;
     background-color: #BB0B0B;
     border-color: #960018;
}
.alert-info
{
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}
.well
{
    background-color: #404040;
    color: #fff;
    border-color: #252925;
    border-radius: 15px;
    width : 900px;
}
.panel-primary
{
    background-color: #404040;
    border-radius: 15px;
}
.panel-heading
{
    border-radius: 15px 15px 0px 0px;
}
.panel-body
{
    background-color: #404040;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
}
.form-group.row
{
    background-color: #404040;
    color: #fff;
    padding : 10px;
}

#reservation_suivant
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
#reservation_identify_Ajouter
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.breadcrumb-arrow
{
    margin-top: 200px;
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color:#8f8f8f;
}
.breadcrumb-arrow li:first-child a
{
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px

}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span
{
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child)
{
    margin-left: -5px
}
.breadcrumb-arrow li+li:before
{
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span
{
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span
{
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a
{
    padding: 0 10px
}
.breadcrumb-arrow li a
{
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #8f8f8f;
    border: 1px solid #404040;
}
.breadcrumb-arrow li:first-child a
{
    padding-left: 10px;
    background-color: #8f8f8f;
    border: 1px solid #404040;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before
{
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before
{
    right: -10px;
    z-index: 3;
    border-left-color: #8f8f8f;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after
{
    right: -11px;
    z-index: 2;
    border-left: 11px solid #404040;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover
{
    background-color: #404040;
    border: 1px solid #404040;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before
{
    border-left-color: #404040;
}
.breadcrumb-arrow li a:active
{
    background-color:#404040;
    border: 1px solid #404040;
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before
{
    border-left-color: #404040;
}
.breadcrumb-arrow li span
{
    color: #fff;
}
.datepicker-dropdown
{
    min-width: 220px;
    background-color: #FFFFFF;
    left: 1150px;
}
.datepicker table tr td.highlighted
{
    background:  #404040;
}
