.body
{
    background-color:  #FFFFFF;
}
#footerwrap
{
    padding-top: 110px;
    padding-bottom: 150px;
}
.title
{
    text-align: center;
    margin-bottom: 30px;
}
.navbar
{
    background-color: #404f6c;
    border-bottom: solid;
    border-color: #252925;
    border-width: 1px;
    color: #fff;
}
.navbar-brand
{
    padding-top:0px;
}
.panel-primary>.panel-heading
{
   color: #fff;
    background-color: #404f6c;
    border-color: #252925;
}
.panel-primary
{
    border-color: #003366;
}
.btn-primary
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.btn-primary:hover
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.navbar-header
{
    margin-bottom: 20px;
}
.btn-danger
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
    margin-top: 40px;
}
.btn-danger:hover
{
    color: #fff;
    background-color: #960018;
    border-color: #960018;
    margin-top: 40px;
}
.dropdown-menu
{
    background-color: #fff;
    border-color: #252925;
    text-align: center;
    width: 25px;
}
.alert-danger
{
     color: #fff;
     background-color: #BB0B0B;
     border-color: #960018;
}
.alert-warning
{
    color: #fff;
    background-color: #bb0b0b;
    border-color: #960018;
    border-radius: 15px;
    width:400px;
}
.well
{
    background-color: #92aac2;
    border-radius: 15px;
    width : 750px;
    color: #fff;
}
.panel-primary
{
    background-color: #92aac2;
    border-radius: 15px;
}
.panel-heading
{
    border-radius: 15px 15px 0px 0px;
}
.panel-body
{
    background-color: #92aac2;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
}
#reservation_suivant
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
#reservation_identify_Ajouter
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
.breadcrumb-arrow
{
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color:#92aac2;
    width : 500px;
}
.breadcrumb-arrow li:first-child a
{
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px

}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span
{
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child)
{
    margin-left: -5px
}
.breadcrumb-arrow li+li:before
{
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span
{
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span
{
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a
{
    padding: 0 10px
}
.breadcrumb-arrow li a
{
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #404f6c;
    border: 1px solid #404f6c;
}
.breadcrumb-arrow li:first-child a
{
    padding-left: 10px;
    background-color: #404f6c;
    border: 1px solid #404f6c;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before
{
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before
{
    right: -10px;
    z-index: 3;
    border-left-color: #404f6c;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after
{
    right: -11px;
    z-index: 2;
    border-left: 11px solid #92aac2;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover
{
    background-color: #92aac2;
    border: 1px solid #92aac2;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before
{
    border-left-color: #92aac2;
}
.breadcrumb-arrow li a:active
{
    background-color: #92aac2;
    border: 1px solid #92aac2;
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before
{
    border-left-color: #92aac2;
}
.breadcrumb-arrow li span
{
    color: #fffce5;
}
.datepicker-dropdown
{
    min-width: 220px;
    background-color: #FFFFFF;
    left: 1150px;
}
.datepicker table tr td.highlighted
{
    background: #f7d9dc;
}
.bstripe-button-el
{
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}