body
{
    background-color:  #fffce5;
}
.title
{
    text-align: center;
    margin-bottom: 30px;
}
.navbar
{
    background-color: #5A5B56;
    border-bottom: solid;
    border-color: #252925;
    border-width: 1px;
    color: #fffce5;
}
.panel-primary>.panel-heading {

    color: #fff;
    background-color: #5A5B56;
    border-color: #252925;
}
.panel-primary {
    border-color: #252925;
}
.btn-primary {
    color: #fff;
    background-color: #5A5B56;
    border-color: #252925;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2F1B0C;
    border-color: #2F1B0C;
}
.navbar-header {
    margin-bottom: 20px;
}
.btn-danger {
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
    margin-top: 25px;
}
.btn-danger:hover {
    color: #fff;
    background-color: #960018;
    border-color: #960018;
    margin-top: 25px;
}
.dropdown-menu {
    background-color: #F4EDDA;
    border-color: #252925;
    text-align: center;
    width: 25px;
}
.alert-danger {
     color: #fff;
     background-color: #BB0B0B !important;
     border-color: #960018;
 }
.alert-warning {
    color: #fff;
    background-color: dodgerblue !important;
    border-color: #960018;
}
.well {
    background-color: #f9f3e9;
    border-radius: 15px;
}
.panel-body {
    background-color: #f9f3e9;
    border-radius: 15px;
}
#reservation_suivant {
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}
#reservation_identify_Ajouter {
    color: #fff;
    background-color: #BB0B0B;
    border-color: #BB0B0B;
}


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}